<settings>
   <servers>
      <server>
       <id>snapshots</id>
       <username>admin</username>
         <password>admin123</password>
            </server>
             </servers>
             </settings>


  <distributionManagement>
  <repository>
    <id>snapshots</id>
     <url>http://localhost:8081/repository/maven-snapshots/</url>
    </repository>
  </distributionManagement>
